{% extends "layout/loggedout.html" %}
{% block content %}
   <div class="card">
        <div class="card-body bg-light">
            <div class="card-title">
                Login to app
            </div>
            <div class="card-text">
                <form action="/login" method="post">
                    <div class="col-auto">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="col-auto">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="col-auto mt-2">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}